<div class="map-view"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="drawnAreasLayers"
     (leafletMapReady)="onMapReady($event)"
>
  <div *ngIf="drawEnabled">
    <!-- ngIf-else not working -->
    <div *ngIf="!areaAlreadyDrawn"
         leafletDraw
         [leafletDrawOptions]="drawOptionsFull"
         [leafletDrawLocal]="drawLocal"
         (leafletDrawCreated)="onDrawCreated($event)"></div>

    <div *ngIf="areaAlreadyDrawn"
         leafletDraw
         [leafletDrawOptions]="drawOptionsEdit"
         [leafletDrawLocal]="drawLocal"
         (leafletDrawEdited)="onDrawEdited($event)"
         (leafletDrawDeleted)="onDrawDeleted($event)"></div>
  </div>
  <div [leafletLayer]="drawnItems"></div>
</div>
