<div class="container spaced">
  <div class="h1 text-center">Place and City</div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit ex, vehicula vel interdum in, euismod quis sem.
    Curabitur malesuada placerat orci, at consectetur arcu rutrum in. Donec consectetur est nisi, id tristique diam
    maximus egestas. Integer at rutrum tortor. Nunc quis risus arcu. Vivamus porta mi a purus consequat, sit amet auctor
    tortor feugiat. Phasellus faucibus fringilla vehicula.
  </p>

  <div class="h3">Usage instructions</div>
  <div>
    <ul>
      <li>Step 1</li>
      <li>Step 2</li>
    </ul>
  </div>
</div>
