<mat-card class="question-card"
          [class.invalid]="!validState">
  <mat-card-title class="h6">
    {{ question }}
    <sup class="fw-lighter" style="font-size: 10px" *ngIf="required">(required)</sup>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="d-flex justify-content-between">
      <p>
        {{ minLabel }}
      </p>
      <p>
        {{ maxLabel }}
      </p>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-radio-group class="d-flex justify-content-between"
                     (change)="onSelectionChanged($event)"
                     (touchstart)="onTouched()">
      <mat-radio-button *ngFor="let option of options" [value]="option">{{ option }}</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>






