<div class="h3 text-center">Your data!</div>

<p>
  Here you can download in your preferred format all the data obtained for the specified areas.
  Once the data is ready, you can download the data for individual areas by pressing its icon
  <mat-icon inline="true">download</mat-icon>.
  You can also download the data from all the areas at once by pressing the button <i>Download all</i>.
</p>

<div class="d-flex justify-content-center flex-wrap" style="padding: 10px">
  <div *ngFor="let area of drawnAreas">
    <app-area-status [area]="area"
                     [status]="commandStatus.get(area.id)" (click)="onAreaSelected(area)">
    </app-area-status>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button mat-raised-button color="primary" [disabled]="!allDownloadsReady">
    <mat-icon>download</mat-icon>
    Download all
  </button>
</div>
