<div class="h3 text-center">Some information about the area</div>

<mat-vertical-stepper #stepper [linear]="true">
  <mat-step [stepControl]="nameForm" label="Give a name to the area">
    <form [formGroup]="nameForm">
      <app-text-question [formControlName]="nameQuestion.id"
                         [question]="nameQuestion"></app-text-question>

      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="freeQuestionsForm" label="Write your thoughts about this area">
    <form [formGroup]="freeQuestionsForm">
      <app-text-question *ngFor="let question of freeQuestions"
                         [formControlName]="question.id"
                         [question]="question"></app-text-question>

      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="likertQuestionsForm" label="Answer a couple of questions">
    <form [formGroup]="likertQuestionsForm">
      <app-likert-question *ngFor="let question of likertQuestions" id="quest"
                           [formControlName]="question.id"
                           [likertQuestion]="question"
                           [validState]="inValidState(question.id)"></app-likert-question>

      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary" (click)="onNextInQuestions()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Finish">
    <p>We are done with this area!</p>

    <div class="d-flex justify-content-between">
      <button mat-button matStepperPrevious color="primary">Back</button>
      <button mat-raised-button matStepperNext color="primary" (click)="onQuestionsAnswered()">Done!</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
