<div class="container-fluid vh-100 d-flex flex-column">
  <nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="favicon.ico" alt="" width="28" height="30" class="d-inline-block align-text-top">
        {{ title }}
      </a>
    </div>
  </nav>

  <div class="row flex-grow-1 spaced">
    <div class="col-lg-7 flex-fill">
      <app-map-view [drawEnabled]="mapDrawEnabled"
                    [drawnAreas]="areas"
                    (areaChange)="onAreaChange($event)">
      </app-map-view>
    </div>

    <div class="col-lg-5 flex-fill">
      <div class="container-fluid">
        <div [ngSwitch]="currentStatus">
          <app-usage-info *ngSwitchCase="status.APP_INFO"
                          (startDrawing)="onStartDrawing()">

          </app-usage-info>
          <app-drawing-info *ngSwitchCase="status.DRAW_INFO"
                            [enableContinue]="areaDrawn"
                            (areaReady)="startAreaQuestions()">
          </app-drawing-info>
          <app-area-questions *ngSwitchCase="status.AREA_QUESTIONS" (answers)="onAreaAnswers($event)">
          </app-area-questions>
        </div>
      </div>
    </div>
  </div>
</div>
