<div class="vh-100 d-flex flex-column">
  <nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="favicon.ico" alt="" width="28" height="30" class="d-inline-block align-text-top">
        {{ title }}
      </a>
    </div>
  </nav>

  <div class="d-md-flex flex-md-row justify-content-around main-container">
    <div class="col-md-6 h-100 my-2">
      <app-map-view [drawEnabled]="mapDrawEnabled"
                    [drawnAreas]="interestAreas"
                    [focusedArea]="focusedArea"
                    (areaChange)="onAreaChange($event)">
      </app-map-view>
    </div>

    <div class="card p-2 col-md-5 h-100 my-2" style="border-radius: 20px;">
      <div class="container-fluid overflow-auto">
        <div [ngSwitch]="currentStatus">
          <app-usage-info *ngSwitchCase="status.APP_INFO"
                          (startDrawing)="onStartDrawing()">

          </app-usage-info>
          <app-drawing-info *ngSwitchCase="status.DRAW_INFO"
                            [enableContinue]="areaDrawn"
                            [drawnAreas]="interestAreas"
                            (areaReady)="startAreaQuestions()"
                            (areaSelected)="onAreaSelected($event)"
                            (finishDrawing)="onDrawingFinished()">
          </app-drawing-info>
          <app-area-questions *ngSwitchCase="status.AREA_QUESTIONS" (answers)="onAreaAnswers($event)">
          </app-area-questions>
          <app-area-status-list  *ngSwitchCase="status.FINISH"
                                  [drawnAreas]="interestAreas"
                                  [commandStatus]="commandStatus"
                                  (areaSelected)="onAreaSelected($event)">
          </app-area-status-list>
        </div>
      </div>
    </div>
  </div>
</div>
