<div class="h3 text-center">Draw an area of interest</div>

<div>
  <mat-card style="background-color: cornsilk">
    <mat-card-title>Instructions</mat-card-title>
    <mat-card-content>
      <ul>
        <li>
          Move to a desired place. Use the mousewheel or <mat-icon aria-hidden="true" inline="true">add</mat-icon>/
          <mat-icon aria-hidden="true" inline="true">remove</mat-icon> to change the zoom level.
        </li>
        <li>Click on <mat-icon aria-hidden="true" inline="true">pentagon</mat-icon> and start drawing an area.</li>
        <li>
          To finish the area, click on the area's first point or click on the <i>Finish</i> button next to
          <mat-icon aria-hidden="true" inline="true">pentagon</mat-icon>.
        </li>
        <li>
          After finishing the area, it can still be edited using the <mat-icon aria-hidden="true" inline="true">draw</mat-icon> icon.
          When edition is finished, click on <i>Save</i> or <i>Cancel</i> next to <mat-icon aria-hidden="true" inline="true">draw</mat-icon> to save or rollback the changes.
        </li>
        <li>
          The drawn area can be removed using the <mat-icon aria-hidden="true" inline="true">delete</mat-icon> icon.
          After removal, click on <i>Save</i> or <i>Cancel</i> next to <mat-icon aria-hidden="true" inline="true">delete</mat-icon> to save or rollback the changes.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="drawnAreas.length" class="top-spaced">
  <mat-divider></mat-divider>
  <h2>Your areas:</h2>
  <mat-chip-list>
    <mat-chip #chip="matChip" *ngFor="let area of drawnAreas" (click)="onAreaToggleSelected(chip, area)">
      {{ area.answers.name }}
    </mat-chip>
  </mat-chip-list>

  <div class="d-flex justify-content-between align-items-center">
    <span>You can finish here or keep adding more areas</span>
    <button mat-button color="accent" (click)="onFinishDrawing()">Finish</button>
  </div>

</div>

<div *ngIf="enableContinue" class="top-spaced">
  <mat-divider style="padding-bottom: 10px"></mat-divider>
  <button mat-raised-button color="primary" (click)="onAreaReady()">Add area!</button>
</div>
